html, body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  background-image: linear-gradient(#2a75bb, #3c5aa6);
  text-align: center;
}

h4 {
  text-transform: uppercase;
}

main {
  padding-top: 90px;
}

.list {
  list-style-type: none;
  padding: 0;
}

.poke-button {
  font-size: 30px;
  background-color: #e4000f;
  color: black;
  border-radius: 3px;
  width: 230px;
  text-transform: uppercase;
}

.poke-button:hover,
.poke-button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.modal-content {
  background-color: #ffcb05;
}

.pokemon-running {
  height: 100px;
  width: auto;
  display: block;
  position: fixed;
  animation-name: pokeMonAnimation;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 3s;
}

@keyframes pokeMonAnimation {
  from {
      left: 1300px;
      top: 550px;
  }
  to {
      left: -100px;
      top: 550px;
  }
}

.title-animation {
  animation: shake .5s 6 ease;
}

@keyframes shake {
  0%, 50%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(-20deg); }
  75% {transform: rotate(20deg);}
}

@media all and (max-width: 500px) {
  .pokemon-running {
    visibility: hidden;
  }
}
