:root {
  --darkBlueBackground: #3c5aa6;
  --lightBlueBackground: #2a75bb;
  --navBarBackground: #e4000f;
  --pokeBackground: #ffcb05;
  --pokeText: black;
}

html, body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  background-color: var(--darkBlueBackground);
  background-image: linear-gradient(var(--lightBlueBackground), var(--darkBlueBackground));
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

main {
  padding-top: 90px;
}

#navbar {
  background-color: var(--navBarBackground);
}

#search-button {
  color: white;
  background-color: #3c5aa6;
}

.poke-logo {
  list-style-type: none;
  padding: 0;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.poke-button {
  width: 200px;
  background-color: var(--pokeBackground);
  color: var(--pokeText);
  border-radius: 10px;
  text-transform: uppercase;
}

.poke-button:hover,
.poke-button:focus {
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

.modal-content {
  background-color: var(--pokeBackground);
}

.modal-image {
  height: 300px;
  width: 300px;
}

.title-animation {
  animation: shake .5s 6 ease;
}

@keyframes shake {
  0%, 50%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(-20deg); }
  75% {transform: rotate(20deg);}
}

@media all and (max-width: 520px) {
  main {
    padding-top: 180px;
  }
}
